.about-background {
  background-color: #4b4b4b;
  padding: 20px;
  margin-bottom: 30px;
}

.about-content {
  max-width: 1200px;
  margin: 0 auto;
}

.about-content h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #bbed2f;
  text-align: left;
  margin-bottom: 0.5rem;
}

.about-content .intro p,
.about-content .education p,
.about-content .skills ul,
.about-content .education ul {
  font-size: 2rem;
  color: white;
  text-align: justify;
  margin-bottom: 0.8rem;
}

.skills ul li::before {
  content: "•";
  color: #bbed2f;
  display: inline-block;
  width: 0.3rem;
  font-size: 1.2em;
  font-weight: bold;
  padding-right: 20px;
}

.about-content .intro h3,
.about-content .skills h3,
.about-content .education h3 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #bbed2f;
  text-align: left;
}

.education {
  margin-bottom: 40px;
}

.linkedin-icon,
.github-icon {
  margin-right: 10px;
}

@media (max-width: 50em) {
  .about-background {
    padding: 10px;
  }

  .about-content {
    margin: 10px 0;
    margin-bottom: 1rem;
  }

  .about-content .intro h3,
  .about-content .skills h3,
  .about-content .education h3 {
    font-size: 2rem;
  }

  .about-content .intro p,
  .about-content .education p,
  .about-content .education ul {
    font-size: 1rem;
  }

  .about-content .skills ul {
    font-size: 1.3rem
  }

  .education {
    margin-bottom: 40px;
  }

  .button-container {
  text-align: left;
  margin-top: 10px;
}

}