body {
  background-color: #4b4b4b;
  margin: 0;
  padding: 0;
}

.main-contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-left {
  flex: 1;
}

.contact-right {
  flex: 1;
  margin-left: 1rem;
  margin-top: 10rem;
}


.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-in-touch-button,
.mobile,
.contact-link {
  font-size: 2rem;
  text-align: left;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact-heading {
  font-size: 3.5rem;
}

.get-in-touch-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.get-in-touch-button:hover,
.contact-link:hover {
  color: #bbed2f;
}

.contact-form {
  text-align: center;
  max-width: 500px;
  margin: 20px auto;
}


.contact-form label {
  font-size: 1.6rem; 
  color: #bbed2f; 
  margin: 0; 
  padding: 5px 0 2px 0; 
}

.contact-form textarea,
.contact-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  margin-top: 5px; 
}



Form {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
}

.submit-button {
  width: 60%;
  background-color: #bbed2f;
  color: #000000;
  padding: 12px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 15px 0;
}

.submit-button:hover {
  background-color: #aacc1e;
}

@media (max-width: 50em) {
  .get-in-touch-button,
  .mobile,
  .contact-link,
  .contact-heading {
    font-size: 1.3rem; 
    margin-left: 20px;
  }

  .get-in-touch-button:hover,
  .contact-link:hover {
    color: #bbed2f;
  }
  
  .main-contact {
    flex-direction: column; 
    margin-bottom: 50px;
  }

  .contact-left,
  .contact-right {
    margin: 0.3rem; 
  }

  .contact-form {
    max-width: 100%;
    margin: 0 30px;
    margin-top: 40px; 
  }

  .submit-button {
    width: 100%; 
  }


 
}