.arrow-button-d {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #bbed2f;
  color: #000000;
  padding: 8px 10px;
  border: none;
  border-radius: 40px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px;
}
.arrow-button-d:hover {
  color: #D4AF37;
  opacity: 0.8;

}


.text-arrow-d {
  font-size: 1rem;
}

.arrow-d {
  font-size: 1rem;
  margin-left: 10px;
  transform: translateY(-1px);
}

@media (max-width: 50em) {
  .arrow-button-d {
    padding: 5px 5px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }
  

  .text-arrow-d {
    font-size: 0.8rem;
  }

  .arrow-d {
    font-size: 1rem;
    margin-left: 8px;
    transform: translateY(-1px);
  }
}